.leaderboard-container {
    margin: 0 auto; 
    padding: 20px;
    max-width: 600px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    min-height: 100vh; 
  }
  
  .leaderboard-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.leaderboard-table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

.leaderboard-table th,
.leaderboard-table td {
    border: 1px solid #ff69b4;
    padding: 8px;
}

.leaderboard-table th {
    background-color: #ff69b4;
    color: white;
    font-weight: bold;
}

.leaderboard-table tr:nth-child(even) {
    background-color: #fce4ec;
}

.leaderboard-table tr:hover {
    background-color: #f06292;
}