.score-tracker {
  position: absolute;
  top: 20px;
  right: 20px;
  margin-top: 400px;
  margin-right: 1200px;
  background-color: #ff69b4;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-family: Arial, sans-serif;
  text-align: center;
  width: 200px;
}

.score-tracker h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.score-tracker-button {
  padding: 10px 15px;
  font-size: 1rem;
  color: #ff69b4;
  background-color: #fff;
  border: 2px solid #ff69b4;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.score-tracker-button:hover {
  background-color: #FFD700;
  color: #fff;
}

.score-tracker-button:active {
  background-color: #e75480;
}
